appnope==0.1.2
argcomplete==1.12.3
asgiref==3.3.1
astroid==2.2.5
autopep8==1.4.4
backcall==0.2.0
certifi==2019.6.16
chardet==3.0.4
click==7.1.2
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.6.0
Django==2.2.13
django-allauth==0.39.1
django-cors-headers==3.0.2
django-rest-auth==0.9.5
djangorestframework==3.9.4
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.2
gunicorn==19.9.0
idna==2.8
importlib-metadata==4.6.4
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jupyter-client==7.0.1
jupyter-core==4.7.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
matplotlib-inline==0.1.2
mccabe==0.6.1
nest-asyncio==1.5.1
numpy==1.20.1
oauthlib==3.0.1
openpyxl==3.0.7
pandas==1.2.3
parso==0.8.2
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pycairo==1.20.1
pycodestyle==2.5.0
Pygments==2.10.0
pylint==2.3.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python3-openid==3.1.0
pytz==2019.1
pyzmq==22.2.1
requests==2.22.0
requests-oauthlib==1.2.0
scipy==1.7.0
six==1.12.0
sqlparse==0.3.0
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.0
typing-extensions==3.10.0.0
urllib3==1.25.3
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.11.2
xlrd==2.0.1
zipp==3.5.0
